<div id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h2>Mascotas</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a href="../../pages/mascotas/omab_mascota.html"><i class="bi bi-heart-pulse"></i> Mascotas</a></li>
    <li><a href="../../pages/usuarios/">Usuarios</a></li>
    <li><a href="../../pages/categorias/"> Categorías</a></li>
    <li><a href="../../pages/razas/omab_listarRaza.html"> Razas</a></li>
    <li><a href="../../pages/genero/"> Género</a></li>
    <li><a href="../../pages/reportes/omab_reportes.html"></i>Reportes</a></li>
    <li><a href="../../pages/graficas/omab_graficas.html"></i>Graficas</a></li>
    <li><a href="../../pages/login/omab_login.html"> Cerrar Sesión</a></li>
  </ul>
</div>
