<div id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h2>Mascotas</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a href="../../index.html"><i class="bi bi-house-door"></i> Inicio</a></li>
    <li><a href="../../pages/mascotas/omab_mascota.html"><i class="bi bi-heart-pulse"></i> Mascotas</a></li>
    <li><a href="../../pages/usuarios/"><i class="bi bi-person"></i> Usuarios</a></li>
    <li><a href="../../pages/categorias/"><i class="bi bi-tags"></i> Categorías</a></li>
    <li><a href="../../pages/razas/"><i class="bi bi-bug"></i> Razas</a></li>
    <li><a href="../../pages/genero/"><i class="bi bi-gender-ambiguous"></i> Género</a></li>
    <li><a href="../../pages/login/"><i class="bi bi-box-arrow-right"></i> Cerrar Sesión</a></li>
  </ul>
</div>
